/* * {
    --color-purple: #603384;
    --violet: #613385;
    --gray-dark: #606060;
    --gray: #515253;
    --off-white: #F5F5F5;
    --grey_deep: rgba(128, 128, 128, 1);
    --white: #FFFFFF;
    --dep-purple: rgba(97, 51, 133, 1);
    --var-yellow: rgba(242, 163, 43, 1);
    --dark: rgba(13, 13, 13, 1);
    --grey_white: rgba(245, 245, 245, 1);
}

html,
body {
    overflow-x: hidden;
} */

