* {
    --color-purple: #603384;
    --violet: #613385;
    --gray-dark: #606060;
    --gray: #515253;
    --off-white: #F5F5F5;
    --grey_deep: rgba(128, 128, 128, 1);
    --white: #FFFFFF;
    --dep-purple: rgba(97, 51, 133, 1);
    --var-yellow: rgba(242, 163, 43, 1);
}

html,
body {
    overflow-x: hidden;
}

/* blog  heading */
.blog-site-heading {
    color: var(--dep-purple);
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


/* blog post wrapper */
.blog_post_wrapper {
    max-width: 600px;
    width: 100%;
}

.blog_post_wrapper .author_info {
    
    display: flex;
    gap: 12px;

}

.blog_post_wrapper .author_info img {
    width: 32px;
    height: 32px;
}

.author_name,
.post_date {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--grey_deep);
    margin-bottom: 0;
    line-height: 32px;
}

.blog_post_wrapper .blog_title {
    margin-top: 22px;
    color: var(--violet);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 40px;
    padding-right: 50px;
}

.blog_post_wrapper .blog_title span {
    position: absolute;
    right: 0;
    top: 0px;

}

.blog_post_wrapper .blog_que {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 0;
    color: var(--grey_deep);
}



/* blog category box */

.blog_category_bx {
    padding: 20px 20px;
}

.blog_category_bx .link {
    color: var(--white);
    text-decoration: none;
    background-color: var(--var-yellow);
    border-radius: 16px;
    padding: 4px 22px;
}

.blog_category_bx a:hover {
    color: var(--white);
}



/* knowledge base section start */

.knowledge_base {
    padding-top: 80px;
    padding-bottom: 60px;
}

.knowledge_base_text h2 {
    font-size: 160px;
    font-weight: 800;
    line-height: 114px;
    letter-spacing: 0.12em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: linear-gradient(180deg, #F5F5F5 40%, #FFFFFF 100%);
    background-clip: text;
    color: transparent;
}

.knowledge_base_text h3 {
    font-size: 180px;
    font-weight: 800;
    line-height: 120px;
    letter-spacing: 0.2em;
margin: auto;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--dep-purple);
    margin-bottom: 0;
   
    width: fit-content;
    position: relative;

}
.knowledge_base_text h3::after{
    position: absolute;
    content: "";
    top:82px;
    left: 0;
    right: -34px;
    height: 100px;
    border-right:1px solid rgba(97, 51, 133, 0.5) ;

}
/* knowledge base section end  */


/* blog list section start */

.blog_list .blog_list_wrapper{
    padding-left: 52px;
    padding-top: 60px;
    border-left:1px solid rgba(97, 51, 133, 0.5) ;
}
.blog_list .border-top{
    border:1px solid rgba(97, 51, 133, 0.5);
    max-width: 920px;
    width: 100%;

}

.blog_list .border-bottom{
    border:1px solid rgba(97, 51, 133, 0.5) ;
    max-width: 590px;
    width: 100%;

}

.blog_list .blog_list_box {
    display: flex;
    gap: 48px;
 padding-bottom: 52px;
}

.blog_list_box .left_side {
    max-width: 560px;
    width: 100%;
}

.blog_list_box .left_site_img-1 {
    background-image: url(../images/blog_left1.jpeg);
    background-repeat: no-repeat;
    width: 536px;
    height: 188px;
    border-radius: 8px;
    background-position: center;
    margin-bottom: 24px;

}

.blog_list_box .left_site_img-2 {
    background-image: url(../images/blog_left2.jpeg);
    background-repeat: no-repeat;
    width: 536px;
    height: 542px;
    border-radius: 8px;
    border-radius: 8px;
    background-position: center;
    margin-top: 68px;

}

/* end left */
/* start right */

.right_site .blog_wrapper {
    display: flex;
    gap: 32px;
    margin-bottom: 48px;
}

.right_site .blog_wrapper_img {

    width: 272px;

}

.right_site .blog_wrapper_img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    background-position: center;

}

.right_site_author_info {
    display: flex;
    gap: 8px;
}

.right_site_author_info img {
    width: 24px;
    height: 24px;
    border-radius: 50%;

}

.right_site_author_info .author_name,
.right_site_author_info .post_date {
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--grey_deep);
    line-height: 24px;
    margin-bottom: 14px;

}

.right_site_blog_title {
    color: var(--violet);
    padding-right: 34px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 28px;
}

.right_site_blog_title span {
    position: absolute;
    right: 0;
    top: 0px;
}

.blog_list_heading_box_right_blog_title img {
    width: 22px;
    height: 22px;
}

.right_site_blog_que {
    color: var(--grey_deep);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 0;

}

/* blog list  section  end */

/* explore category slider section start */

.categories_slider{
    margin-top: 60px;
}
.categories_slider .blog-site-heading {
    margin-bottom: 60px;
}

.categories_slider .blog_img_wrapper {
    display: flex;
    gap: 48px;
    margin-top: 60px;
}

.categories_slider .left,
.categories_slider .right {
    max-width: 576px;
    width: 100%;
}
.categories_slider .background_blog_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 48px;
    padding: 32px 32px 48px 48px;
    position: relative;
    width: 100%;
  

}
.categories_slider .background_blog_img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #000000 90%);
    border-radius: 20px;
}

.categories_slider .background_blog_img:nth-child(2) {
    width: 100%;
    height: 300px;

}
/* 
.categories_slider .background_blog_img:nth-child(2) {
    height: 300px;
    width: 100%;
}

.categories_slider .background_blog_img:nth-child(3) {
    height: 300px;
    width: 100%;
}

.categories_slider .background_blog_img:nth-child(4) {
    height: 500px;
    width: 100%;
} */

.categories_slider .text_wrapper img {
    float: right;
}

.categories_slider .text_wrapper {
    position: relative;
    z-index: 123;
}

.categories_slider .bottom_text_wrapper {
    /* position: absolute;
    bottom: 0; */
}

.categories_slider .blog_title {
    display: flex;
    gap: 12px;
    padding-bottom: 22px;

}

.categories_slider .blog_date {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
    margin-bottom: 0;

}

.categories_slider .blog_category_bx {
    padding: 0;
}

.categories_slider .blog_heading {
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 0;

}

/* category slider section end */


/* explore category view all section start */
.explore_caegory {
    margin-bottom: 50px;
    margin-top: 50px;
}
.explore_caegory .blog-site-heading{
    margin-bottom: 0;
}
.explore_caegory .view_link {
    color: var(--gray-dark);
    position: absolute;
    right: 0;
    font-size: 16px;
    font-weight: 600;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    top: 0;
}
.explore_caegory .border-top{
     border: 1px solid rgba(97, 51, 133, 0.5);
     margin-left: 375px;
}
.explore_caegory .border-bottom {
    border: 1px solid rgba(97, 51, 133, 0.5);
    max-width: 377px;
    width: 100%;
    float: right;     
}


.explore_caegory .blog-wrapper {
    border-right: 1px solid rgba(97, 51, 133, 0.5);
    padding: 60px 0px 60px 0px;
    display: grid;
    gap: 25px;
    grid-template-columns: auto auto auto;
}

.explore_caegory .blog_post_wrapper {
    max-width: 377px;
    

}
/* .explore_caegory .blog_post_wrapper:nth-child(1) { 
    margin-bottom: 40px;

}

.explore_caegory .blog_post_wrapper:nth-child(2){
    margin-top: 40px !important;
} */


.explore_caegory .blog_post_wrapper .blog_title {
    margin-bottom: 20px;
}

.explore_caegory .blog_img {
    width: 354px;
    height: 466px;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 8px;
}

.explore_caegory .blog_img img {
    width: 354px;
    height: 466px;
    border-radius: 8px;
}

.explore_caegory .blog_img img:hover {
    transition: all .3s ease-in;
    transform: scale(1.1);
}

/* explore category view all section end */

/* ----------
============================ responsive */
